.App {
    --header_height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hw {
    width: 1280px;
    height: 100vh;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    width: 165px;
    height: 27px;
}